.postion-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}
body {
  margin: 0px;
  padding: 0px;
}
@media screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 24px;
  }
}
/*  Header  */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: serif;
}
header img {
  height: 28px;
  margin-top: 30px;
  margin-left: 50px;
}
header nav {
  margin-top: 30px;
  margin-right: 20px;
  float: right;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  float: left;
  margin-left: 40px;
}
header nav ul li a {
  color: #4d4d4d;
  text-decoration: none;
}
header nav ul li a:hover {
  border-bottom: 1px #4d4d4d solid;
}
@media screen and (max-width: 480px) {
  header {
    height: 80px;
    justify-content: center;
  }
  header img {
    margin-left: 0px;
  }
  header nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  header {
    height: 110px;
    font-size: 70%;
  }
}
@media screen and (min-width: 1200px) {
  header {
    height: 110px;
    font-size: 70%;
  }
}
/* Billboard  */
.billboard {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background: url('../img/billboard_img.jpg') no-repeat;
  background-size: 100%;
  overflow: auto;
  font-family: sans-serif;
  font-style: italic;
}
.billboard .caption .cap_title {
  color: #4d4d4d;
}
.billboard .caption .cap_desc {
  color: #4d4d4d;
}
.billboard .caption a {
  background: #4d4d4d;
  color: #ffffff;
  text-decoration: none;
  border-radius: 100px;
}
.billboard .caption a:hover {
  background: #ffffff;
  color: #4d4d4d;
}
@media screen and (max-width: 480px) {
  .billboard {
    height: 200px;
  }
  .billboard .caption .cap_title {
    margin-bottom: 20px;
  }
  .billboard .caption .cap_desc {
    margin-bottom: 30px;
  }
  .billboard .caption a {
    padding: 9px 40px;
  }
}
@media screen and (min-width: 768px) {
  .billboard {
    height: 400px;
  }
  .billboard .caption .cap_title {
    margin-bottom: 30px;
  }
  .billboard .caption .cap_desc {
    margin-bottom: 40px;
  }
  .billboard .caption a {
    padding: 12px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .billboard {
    height: 520px;
  }
  .billboard .caption .cap_title {
    margin-bottom: 40px;
  }
  .billboard .caption .cap_desc {
    margin-bottom: 55px;
  }
  .billboard .caption a {
    padding: 15px 80px;
  }
}
/*  Services  */
.services ul {
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  font-family: sans-serif;
  list-style: none;
  margin: 50px 0;
}
.services ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 256px;
  float: left;
  margin: 20px 4%;
}
.services ul li h3 {
  color: #4d4d4d;
}
.services ul li p {
  color: #4d4d4d;
}
/*  Video  */
.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px #e7e7e7 solid;
  border-bottom: 1px #e7e7e7 solid;
  font-family: serif;
}
.video h3 {
  font-weight: bold;
  font-size: 1.4em;
  color: #4d4d4d;
}
.video p {
  width: 600px;
  color: #4d4d4d;
  margin-bottom: 80px;
}
.video a {
  align-self: stretch;
}
.video a img {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .video p {
    width: 400px;
    margin-bottom: 40px;
  }
}
/*  Recent work  */
.recent_work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}
.recent_work h3 {
  width: 100%;
  font-weight: bold;
  font-size: 1.5em;
  color: #4d4d4d;
}
.recent_work .work {
  width: 262px;
  height: 320px;
  overflow: hidden;
  margin-bottom: 30px;
}
.recent_work a.work_img {
  width: 100%;
  height: 100%;
}
.recent_work a.work_title {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  background: #4d4d4d;
  position: relative;
  font-weight: bold;
  color: #ffffff;
  padding: 25px 0;
  bottom: 0;
}
.recent_work .work:hover a.work_title {
  bottom: 65px;
}
@media screen and (min-width: 768px) {
  .recent_work .work {
    margin-left: 30px;
    margin-right: 30px;
  }
}
/*  Subscription  */
.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  height: 400px;
  background: #e7e7e7;
  border-top: 1px #e7e7e7 solid;
  border-bottom: 1px #e7e7e7 solid;
  margin-top: 30px;
  margin-bottom: 50px;
}
.subscription .title {
  font-weight: bold;
  font-size: 1.5em;
  color: #4d4d4d;
  margin: 30px 0px;
}
.subscription .desc {
  color: #4d4d4d;
  margin: 30px 0px;
}
.subscription a.start_btn {
  padding: 10px 40px;
  margin: 30px 0;
  color: #4d4d4d;
  border: 2px #4d4d4d solid;
  text-decoration: none;
  font-weight: bold;
  border-radius: 100px;
}
.subscription a.start_btn:hover {
  background: #4d4d4d;
  color: #e7e7e7;
}
/*  Social Media Icons  */
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 70px 0;
}
.social a {
  width: 70px;
  height: 70px;
  margin: 0px 30px;
  background: url('../img/sm.png') no-repeat;
}
.social a.fb {
  background-position: 0 0;
}
.social a.t {
  background-position: -71px 0;
}
.social a.d {
  background-position: -142px 0;
}
.social a.g {
  background-position: -213px 0;
}
.social a:hover {
  background: url('../img/sm_hover.png') no-repeat;
}
.social a.fb:hover {
  background-position: 0 0;
}
.social a.t:hover {
  background-position: -71px 0;
}
.social a.d:hover {
  background-position: -142px 0;
}
.social a.g:hover {
  background-position: -213px 0;
}
@media screen and (max-width: 480px) {
  .social a {
    margin: 0px 15px;
  }
}
/*  Footer  */
footer {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  background: #4d4d4d;
  overflow: hidden;
}
footer .f_cols {
  width: 20%;
  border-color: white;
  float: left;
  margin: 0 2%;
}
footer .f_cols h3 {
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}
footer .f_cols p {
  margin: 35px auto;
  font-size: 0.6em;
  color: #ffffff;
}
footer .f_cols span {
  margin: 10px 0;
  display: block;
  font-weight: bold;
  color: #e7e7e7;
}
footer .f_cols a {
  display: block;
  color: #e7e7e7;
}
footer .f_cols a:hover {
  color: #ffffff;
}
footer .f_cols ul {
  padding: 0 0;
  margin: 25px auto;
}
footer .f_cols ul li {
  list-style: none;
  margin-bottom: 15px;
}
footer .f_cols ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 0.6em;
  color: #ffffff;
  border-bottom: 1px #4d4d4d solid;
}
footer .f_cols ul li a:hover {
  border-bottom: 1px #ffffff solid;
}
@media screen and (max-width: 480px) {
  footer .f_cols ul {
    padding-left: 25px;
  }
}
@media screen and (min-width: 768px) {
  footer .f_cols ul {
    padding-left: 60px;
  }
}
@media screen and (min-width: 1200px) {
  footer .f_cols ul {
    padding-left: 100px;
  }
}
