body {
    margin: 0px;
    padding: 0px;
}

/*  Header  */
header{
    display: inline-block;
    width: 100%;
    height: 130px;
    font-family: serif;
}

header img{
    margin-top: 30px;
    margin-left: 50px;
}

header nav{
    margin-top: 30px;
    margin-right: 20px;
    float: right;
    font-size: 16px;
}

header nav ul{
    list-style: none;
    display: block;
}

header nav ul li{
    float: left;
    margin-left: 40px;
}



header nav ul li a{
    color: #4d4d4d;
    text-decoration: none;
}

header nav ul li a:hover{
    border-bottom: 1px #4d4d4d solid;
}

@media screen and (max-width: 480px) and (orientation:portrait){
    header {
        height: 80px;
    }
    
    header img{
        margin-top: 25px;
        margin-left: 180px;
    }
    
    header nav{
        display: none;
    }
}

@media screen and (max-height: 480px) and (orientation:landscape){
    header {
        height: 90px;
    }
    
    header img{
        margin-top: 25px;
        margin-left: 25px;
    }

}

@media screen and (max-width: 768px) and (max-width: 991px) and (orientation:portrait){
    header {
        height: 90px;
    }
}

/*  Billoard  */
.billboard{
    width: 100%;
    height: 650px;
    background: url('../img/billboard_img.jpg') no-repeat;
    background-size: 100%;
    text-align: center;
    position: relative;
    overflow: auto;
    font-family: sans-serif;
    font-style: italic;
}

.billboard .caption{
    margin-top: 190px;
}

.billboard .caption .cap_title{
    font-size: 50px;
    color: #4d4d4d;
    margin-bottom: 30px;
}

.billboard .caption .cap_desc{

    font-size: 20px;
    color: #4d4d4d;
    margin-bottom: 60px;	
}

.billboard .caption a{
    padding: 15px 80px;
    background: #4d4d4d;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 100px;
}

.billboard .caption a:hover{
    background: #ffffff;
    color: #4d4d4d;
}

@media screen and (max-width: 480px) and (orientation:portrait) {
    .billboard {
        height: 220px;
    }
    
    .billboard .caption{
        margin-top: 50px;
    }
    
    .billboard .caption .cap_title{
        font-size: 25px;
        margin-bottom: 15px;
    }

    .billboard .caption .cap_desc{
        font-size: 14px;
        margin-bottom: 30px;	
    }
    
    .billboard .caption a{
        padding: 10px 40px;
        font-size: 14px;
    }
}

@media screen and (max-height: 480px) and (orientation:landscape) {
    .billboard {
        height: 360px;
    }
    
    .billboard .caption{
        margin-top: 125px;
    }
    
    .billboard .caption .cap_title{
        font-size: 40px;
        margin-bottom: 15px;
    }

    .billboard .caption .cap_desc{
        font-size: 18px;
        margin-bottom: 30px;	
    }
    
    .billboard .caption a{
        padding: 10px 70px;
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) and (orientation:portrait) {
    .billboard {
        height: 360px;
    }
    
    .billboard .caption{
        margin-top: 125px;
    }
    
    .billboard .caption .cap_title{
        font-size: 40px;
        margin-bottom: 15px;
    }

    .billboard .caption .cap_desc{
        font-size: 18px;
        margin-bottom: 30px;	
    }
    
    .billboard .caption a{
        padding: 10px 70px;
        font-size: 14px;
    }
}

/*  Services  */
.services ul{
    padding: 0px;
    font-family: sans-serif;
    display: inline-block;
    list-style: none;
    margin: 50px 0;
    text-align: center;
}

.services ul li{
    float: left;
    width: 25%;
    margin: 0 4%;
}

.services ul li .s_icons,
.services ul li h3{
    margin-bottom: 40px;
}

.services ul li h3{
    font-size: 30px;
    color: #4d4d4d;
}

.services ul li p{
    color: #727272;
    font-size: 16px;
    line-height: 20px;
}

@media screen and (max-width: 480px) and (orientation:portrait) {
    .services ul{
        margin: 30px 30px;
    }
    
    .services ul li{
    width: 346px;
    margin: 30px 30px;
    }
    
    .services ul li .s_icons,
    .services ul li h3{
    margin-bottom: 10px;
    }
}

@media screen and (max-height: 480px) and (orientation:landscape) {
    .services ul{
        margin: 10px 14px;
    }
    
    .services ul li{
        width: 220px;
        margin: 20px 15px;
    }
    
    .services ul li .s_icons,
    .services ul li h3{
        margin-bottom: 20px;
    }
    
    .services ul li h3{
        font-size: 20px;
    }

    .services ul li p{
        font-size: 14px;
        line-height: 18px;    
    }
    
    .services ul li:last-child{
        margin-right: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) and (orientation:portrait) {
    .services ul{
        margin: 10px 14px;
    }

    .services ul li .s_icons,
    .services ul li h3{
        margin-bottom: 10px;
    }
    
    .services ul li h3{
        font-size: 20px;
    }

    .services ul li p{
        font-size: 14px;
        line-height: 18px;    
    }
 }
/*  Video  */
.video{
    text-align: center;
    border-top: 1px #e7e7e7 solid; 
    border-bottom: 1px #e7e7e7 solid;
    margin-bottom: 10px;
    padding-top: 10px;
    font-family: serif;
}

.video h3{
    font-weight: bold;
    font-size: 30px;
    color: #4d4d4d;
    margin-bottom: 20px;
}

.video p{
    display: inline-block;
    width: 600px;
    font-size: 16px;
    color: #727272;
    margin-bottom: 80px;
    line-height: 24px;

}

.video a{
    display: block;
    margin-bottom: 10px;
}
.video a img{
    width:100%;
}

@media screen and (max-width: 480px) and (orientation:portrait){
    .video h3{
        font-size: 26px;
    }

    .video p{
        width: 450px;
        font-size: 14px;
        margin-bottom: 40px;
        line-height: 20px;

    }
}

/*  Recent work  */
.recent_work{
    font-family: sans-serif;
    margin-bottom: 50px;
    overflow: hidden;
    text-align: center;
}

.recent_work h3{
    font-weight: bold;
    font-size: 30px;
    color: #4d4d4d;
    text-align: center;
    margin-bottom: 80px;
}

.recent_work .work{
    width: 20%;
    height: 320px;
    overflow: hidden;
    position: relative;
    float: left;
    margin-left:2.5%;
    margin-right: 2.5%;
    margin-bottom: 30px;
}

.recent_work a.work_img{
    width: 100%;
    height: 320px;
    position: relative;
}


.recent_work a.work_title{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    background: #4d4d4d;
    position: relative;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding: 25px 0;
    bottom: 0;
}

.recent_work .work:hover a.work_title{
    bottom: 65px;
}

@media screen and (max-width: 480px) and (orientation: portrait){
    .recent_work h3{
        margin-bottom: 40px;
    }
    
    .recent_work .work {
        width: 70%;
        margin: 20px 15%;
    }
}

@media screen and (max-height: 480px) and (orientation: landscape){
    .recent_work h3{
        margin-bottom: 40px;
    }
    
    .recent_work .work {
        width: 40%;
        margin: 20px 5%;
     }
 
}

@media screen and (min-width: 768px) and  (max-width: 991px) and (orientation: portrait){
    .recent_work h3{
        margin-bottom: 40px;
    }
    
    .recent_work .work {
        width: 40%;
        margin: 20px 5%;
    }

}

/*  Subscription  */
.subscription{
    font-family: sans-serif;
    width: 100%;
    padding: 100px 0 50px 0;
    background: #f5f5f5;
    border-top: 1px #e7e7e7 solid;
    border-bottom: 1px #e7e7e7 solid;
    text-align: center;
    margin: 50px 0;
}

.subscription .title{
    font-weight: bold;
    font-size: 30px;
    color: #4d4d4d;
    margin-bottom: 30px;
}

.subscription .desc{
    font-size: 14px;
    color: #717171;
    margin-bottom: 60px;
}

.subscription a.start_btn{
    padding: 10px 40px;
    margin: 10px 0;
    color: #4d4d4d;
    border: 2px #4d4d4d solid;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 100px;
}

.subscription a.start_btn:hover{
    background: #4d4d4d;
    color: #f5f5f5;
}

@media screen and (max-width: 480px) and (orientation: portrait){
    .subscription {
        padding: 50px 0 50px 0;
    }
        
}
/*  Social Media Icons  */
.social{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.social a{
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-right: 56px;
    background: url('../img/sm.png') no-repeat;
}

.social a:last-child{
    margin-right: 0;
}

.social a.fb{
    background-position: 0 0;
}
.social a.t{
    background-position: -71px 0;
}
.social a.d{
    background-position: -142px 0;
}
.social a.g{
    background-position: -213px 0;
}


.social a:hover{
    background: url('../img/sm_hover.png') no-repeat;
}

.social a.fb:hover{
    background-position: 0 0;
}
.social a.t:hover{
    background-position: -71px 0;
}
.social a.d:hover{
    background-position: -142px 0;
}
.social a.g:hover{
    background-position: -213px 0;
}

@media screen and (max-width: 480px) and (orientation: portrait) {
    .social a {
        margin-right: 25px;
    }
    
    .social {
            margin-bottom: 60px;
    }
}
/*  Footer  */
footer{
    font-family: sans-serif;
    background: #3b3b3b;
    padding: 50px;
    overflow: hidden;
}

footer .f_cols{
    width: 20%;
    border-color: white;
    float: left;
    margin-left: 4%;
}


footer .f_cols h3{
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    margin-left: 30px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

footer .f_cols p{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #ebebeb;
    margin-bottom: 20px;
}

footer .f_cols span{
    display: block;
    font-weight: bold;
    color: #b5b5b5;
}

footer .f_cols a{
    display: block;
    color: #b5b5b5;
}

footer .f_cols a:hover{
    color: #ebebeb;
}

footer .f_cols ul li{
    list-style: none;
    margin-bottom: 15px;
}


footer .f_cols ul li a{
    display: inline-block;
    text-decoration: none;
    color: #ebebeb;
    font-family: 14px;
    border-bottom: 1px #3b3b3b solid;
}


footer .f_cols ul li a:hover{
    border-bottom: 1px #ebebeb solid;
}

@media screen and (max-width: 480px) and (orientation: portrait){
    footer{
        padding: 15px;
    }
    
    footer .f_cols{
        width: 410px;
        margin: 0px 10px;
    }
    
    footer .f_cols ul li{
        list-style: none;
        margin: 15px;
        margin-top: -10px;
        float: left;
    }
    
    footer .f_cols h3{
        margin-left: 30px;
        margin-bottom: 15px;
        letter-spacing: 1px;
    }
    
    footer .f_cols a{
        display: inline;
        float: right;
    }
    
    footer .f_cols  ul li a{
        display: inline-block;
    }
}

@media screen and (max-height: 480px) and (orientation: landscape){
    footer{
        padding: 15px;
    }
    
    footer .f_cols{
        width: 165px;
        margin: 0px 10px;
    }
    
    footer .f_cols ul li{
        list-style: none;
        margin: 15px;
    }
    
    footer .f_cols h3{
        margin-left: 30px;
        margin-bottom: 15px;
        letter-spacing: 1px;
        font-size: 16px;
    }
    
    footer .f_cols p{
        font-size: 12px;
    }
}

@media screen and (min-width:768px) and (max-width: 991px) and (orientation: portrait){
    footer{
        padding: 15px;
    }
    
    footer .f_cols{
        width: 135px;
    }
}

