@small: ~"screen and (max-width: 480px)";
@medium: ~"screen and (min-width: 768px)";
@big: ~"screen and (min-width: 1200px)";
@color-grey: #4d4d4d;
@color-white: #ffffff;
@color-light-grey: #e7e7e7;
.postion-center{
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    margin: 0px;
    padding: 0px;
   
    @media @small {
        font-size: 16px;
    }
    @media @medium {
        font-size: 20px;
    }
    @media @big {
        font-size: 24px;
    }
}

/*  Header  */
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    img {
        height: 28px;
        margin-top: 30px;
        margin-left: 50px;
    }
    nav{
        margin-top: 30px;
        margin-right: 20px;
        float: right;
        ul{
            list-style: none;
            li{
                float: left;
                margin-left: 40px;
                a{
                    color: @color-grey;
                    text-decoration: none;
                }
                a:hover{
                    border-bottom: 1px @color-grey solid;
                }
            }
        }
    }
    font-family: serif;
    
    @media @small {
        height: 80px;
        justify-content: center;
        img{
            margin-left: 0px;
        }
        nav{
            display: none;
        }
    }
    @media @medium {
        height: 110px;
        font-size: 70%;
    }
    @media @big {
        height: 110px;
        font-size: 70%;
    }
}

/* Billboard  */
.billboard{
    display:flex;
    .postion-center;
    width: 100%;
    background: url('../img/billboard_img.jpg') no-repeat;
    background-size: 100%;
    overflow: auto;
    font-family: sans-serif;
    font-style: italic;
    .caption{
        .cap_title{
            color: @color-grey;
        }
        .cap_desc{
            color: @color-grey;
        }
        a{
            background: @color-grey;
            color: @color-white;
            text-decoration: none;
            border-radius: 100px;
        }
        a:hover{
            background: @color-white;
            color: @color-grey;
        }
    }
    @media @small{
        height: 200px;
        .caption{
            .cap_title{
                margin-bottom: 20px;
            }
            .cap_desc{
                margin-bottom: 30px;
            }
            a{
                padding: 9px 40px;
            }
        }
    }
    @media @medium{
        height: 400px;
        .caption{
            .cap_title{
                margin-bottom: 30px;
            }
            .cap_desc{
                margin-bottom: 40px;
            }
            a{
                padding: 12px 60px;
            }
        }
    }
    @media @big{
        height: 520px;
        .caption{
            .cap_title{
                margin-bottom: 40px;
            }
            .cap_desc{
                margin-bottom: 55px;
            }
            a{
                padding: 15px 80px;
            }
        }
    }
}

/*  Services  */
.services ul{
    padding-left: 0px;
    display: flex;
    .postion-center;    
    flex-wrap: wrap;
    font-family: sans-serif;
    list-style: none;
    margin: 50px 0;
    li{
        display: flex;
        flex-direction: column;
        .postion-center; 
        width: 256px;
        float: left;
        margin: 20px 4%;
        h3{
            color: @color-grey;
        }
         p{
            color: @color-grey;
        }
    }
}

/*  Video  */
.video{
    display: flex;
    flex-direction: column;
    .postion-center;
    border-top: 1px @color-light-grey solid; 
    border-bottom: 1px @color-light-grey solid;
    font-family: serif;
    h3{
        font-weight: bold;
        font-size: 1.4em;
        color: @color-grey;
    }
    p{
        width: 600px;
        color: @color-grey;
        margin-bottom: 80px;

    }
    a{
        align-self: stretch;
        img{
            width: 100%;
        }
    }
    @media @small{
        p{
            width: 400px;
            margin-bottom: 40px;
        }
    }
}

/*  Recent work  */
.recent_work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .postion-center;
    font-family: sans-serif;
     h3{
        width: 100%;
        font-weight: bold;
        font-size: 1.5em;
        color: @color-grey;
    }
    .work{
        width: 262px;
        height: 320px;
        overflow: hidden;
        margin-bottom: 30px;
    }
    a.work_img{
        width: 100%;
        height: 100%;
    }
    a.work_title{
        display: inline-block;
        text-decoration: none;
        width: 100%;
        background: @color-grey;
        position: relative;
        font-weight: bold;
        color: @color-white;
        padding: 25px 0;
        bottom: 0;
    }
    .work:hover a.work_title{
        bottom: 65px;
    }
    @media @medium{
        .work {
            margin-left: 30px;
            margin-right: 30px;
        }
    }
}

/*  Subscription  */
.subscription{
    display: flex;
    flex-direction: column;
    .postion-center;
    font-family: sans-serif;
    width: 100%;
    height: 400px;
    background: @color-light-grey;
    border-top: 1px @color-light-grey solid;
    border-bottom: 1px @color-light-grey solid;
    margin-top: 30px;
    margin-bottom: 50px;
    .title{
        font-weight: bold;
        font-size: 1.5em;
        color: @color-grey;
        margin: 30px 0px;
    }
    .desc{
        color: @color-grey;
        margin: 30px 0px;
    }
    a.start_btn{
        padding: 10px 40px;
        margin: 30px 0;
        color: @color-grey;
        border: 2px @color-grey solid;
        text-decoration: none;
        font-weight: bold;
        border-radius: 100px;
    }
    a.start_btn:hover{
        background: @color-grey;
        color: @color-light-grey;
    } 
}

/*  Social Media Icons  */
.social{
    display: flex;
    .postion-center;
    width: 100%;
    margin: 70px 0;
    a{
        width: 70px;
        height: 70px;
        margin: 0px 30px;
        background: url('../img/sm.png') no-repeat;
    }
    a.fb{
        background-position: 0 0;
    }
    a.t{
        background-position: -71px 0;
    }
    a.d{
        background-position: -142px 0;
    }
    a.g{
        background-position: -213px 0;
    }
    a:hover{
        background: url('../img/sm_hover.png') no-repeat;
    }

    a.fb:hover{
        background-position: 0 0;
    }
    a.t:hover{
        background-position: -71px 0;
    }
    a.d:hover{
        background-position: -142px 0;
    }
    a.g:hover{
        background-position: -213px 0;
    }
    @media @small {
        a{
            margin: 0px 15px; 
        }
    }
}

/*  Footer  */
footer{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background: @color-grey;
    overflow: hidden;
    .f_cols{
        width: 20%;
        border-color: white;
        float: left;
        margin: 0 2%;
        h3{
            font-size: 0.8em;
            text-align: center;
            font-weight: bold;
            color: @color-white;
        }
        p{
            margin: 35px auto;
            font-size: 0.6em;
            color: @color-white;
        }
        span{
            margin: 10px 0;
            display: block;
            font-weight: bold;
            color: @color-light-grey;
        }
         a{
            display: block;
            color: @color-light-grey;
        }
        a:hover {
            color: @color-white;
        }
        ul{
            padding: 0 0;
            margin: 25px auto;
            li{
                list-style: none;
                margin-bottom: 15px;
                a{
                    display: inline-block;
                    text-decoration: none;
                    font-size: 0.6em;
                    color: @color-white;
                    border-bottom: 1px @color-grey solid;
                }
                a:hover {
                    border-bottom: 1px @color-white solid;
                }
            }
            @media @small{
                padding-left: 25px;
            }
            @media @medium{
                padding-left: 60px;
            }
            @media @big{
                padding-left: 100px;
            }
        }
    }
}


 